body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:0px;
  width:1076px;
  height:54px;
}
#u1_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:54px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:54px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:54px;
  display:flex;
  font-size:20px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:54px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:359px;
  height:54px;
  display:flex;
  font-size:20px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:54px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:0px;
  width:359px;
  height:54px;
  display:flex;
  font-size:20px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:193px;
  background:inherit;
  background-color:rgba(1, 111, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:889px;
  width:538px;
  height:193px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:889px;
  width:314px;
  height:23px;
  display:flex;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:193px;
  background:inherit;
  background-color:rgba(128, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:889px;
  width:538px;
  height:193px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:889px;
  width:141px;
  height:23px;
  display:flex;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:775px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:775px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normalny", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:775px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:114px;
  width:1076px;
  height:775px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:775px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.disabled {
}
.u10_input_option {
  font-size:28px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:60px;
  background:inherit;
  background-color:rgba(1, 111, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:54px;
  width:1076px;
  height:60px;
  display:flex;
  font-family:"Arial Pogrubiony", "Arial Normalny", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1080px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1080px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1080px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:0px;
  width:422px;
  height:1080px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:158px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:912px;
  width:158px;
  height:158px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
